body {
    background-image: url("record.png");
    background-repeat: repeat;
    margin: 0;
}

.header {
    background-color: forestgreen;
    color: white;
    text-align: center;
}

.main {
    background-color: lightgray;
    padding: 1em;
}

/* The class descriptions are not super descriptive but I was unsure what to call them since there
is not a lot of content.  Hope this is what you were looking for! */